parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     pickmystuff
    database_user:     root
    database_password: 

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    pickmystuff.contact.mail: 'pickmystuff@yahoo.com'
    
    twilio_account_sid: ACfbb1398bfe13fa7d2b1d47a53dd9546c
    twilio_auth_token: a58a7d41067383100185979c57d2c197
    
    twilio_account_sid_test: AC3ce92948d6bf94f020e303af6d438075
    twilio_auth_token_test: c8e146c3697dd849f6e3b2e3e54a4aa9
    
    twilio_from_number: "+17873010155"
    twilio_from_number_test: "+17873010155"