<p><strong>
Gracias por  confiar en  nuestro servicio,  en  Pick My Stuff, estamos buscando al transportista más cercano a su mercancía, en 10 a 15 minutos les estaremos enviando un mensaje con la hora que recogemos su mercancía y el precio por recogido y entrega.   Gracias.
	</strong>
</p>