<p><strong>
			Gracias por usar a Pick My Stuff, estamos buscando al transportista más cercano a su mercancía
			en 10 a 15 minutos, les estaremos enviando un mensaje con la hora que podemos pasar a
			buscar su mercancía y el precio.  Gracias.
	</strong>
</p>