{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="container">
	<h2>ABOUT US:</h2>
	</br></br>
	<span>El pasaje estándar Lorem Ipsum, usado desde el año 1500.</span>
	</br>
	<p></p>
</div>
{% endblock %}