{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block contentClass %}about{% endblock %}

{% block content %}
<div class="container aboutus">
	<h2>ABOUT US:</h2>
	</br>
	<div class="aboutContent">
		<p>
			Pick My Stuff es una empresa puertorriqueña comprometida a facilitarle al consumidor el proceso 
			de recogido y entrega de su mercancia a la misma vez que ayudamos a los transportistas a
			conseguir clientes. Conectamos a tu mercancia con el transportista mas cercano a ti.
		
		</p>
	</div>
</div>
{% endblock %}