{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block contentClass %}about{% endblock %}

{% block content %}
<div class="container aboutus">
	<h2>Sobre Nosotros</h2>
	</br>
	<div class="aboutContent">
		<p>Pick My Stuff es una empresa puertorriqueña comprometida a facilitarle al consumidor el proceso de recogido y entrega de su mercancía a la misma
		 vez que ayudamos a los transportistas a conseguir clientes y resolverle un emergencia a las empresas o individuos.  
		 Nuestra misión es lograr que todos nuestros clientes logren expandir sus negocios llegado a distintos rincones de la isla o
		 meramente logrando transportar y recoger bienes de un lugar a otro. 
		</p>
		</br>
		<div class="conctamos text-center"><strong>Conectamos tu mercancía con el transportista mas cercano a ti. Somos facilitadores y nos encargamos de todo.</strong></div>
	</div>
</div>
{% endblock %}