{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block contentClass %}contact{% endblock %}

{% block content %}
<div class="container contact">
	 	<div class="costumerForm">
	        <h3>CONTACT US</h3>
	       	<div class="sended"><h4><i class="glyphicon glyphicon-ok"></i>Sended succesful!</h4></div>
	       	<form action="{{ path('odiseo_pickmystuff_costumerform') }}" method="post" class="clearfix">
	       		<div class="email field1">
	       			<label>EMAIL</label>
	      	  		<input class="form-control" type="text" name="contact[email]" data-rule-required="true" data-rule-email="true">
	       		</div>
	       		<div class="message">
	       			<label>MESSAGE</label>
					<textarea class="form-control" rows="9" name="contact[message]" data-rule-required="true" ></textarea>	        			
	       		</div>
				<div class="submitContent">
					<button class="btn btn-default" type="submit">Send</button>
				</div>
	       	</form>
       </div>
</div>
{% endblock %}