{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block contentClass %}faq{% endblock %}

{% block content %}
<div class="container faq">
	<div class="row firstContent">
		<div class="col-xs-6">
			<img class="img-responsive pull-left" src="{{ asset('bundles/odiseopickmystuff/images/logo_services.png') }}">
		</div>
		<div class="col-xs-6">
			<p class="rightText">PREGUNTAS FRECUENTES</p>
		</div>
	</div>
	<div class="faqContent">
		<div class="questions">
			<div>
				<strong>¿Que hacemos?</strong><p>Ofrecemos servicios de recogido y entrega de su mercancia tanto para individuos como empresas de todo tipo de mercancia alrededor de toda la
				isla. </p>
			</div>
			<div>
			 	<strong>¿Cómo funciona? </strong>
			 	<p>
			 	Una vez entras tu pedido a través del website <a href="http://www.pickmystuff.net" target="_blank">www.pickmystuff.net</a>, recibirás una  llamada nuestra y te conectaremos con el transportista mas cercano  para recoger tu mercancía.
			 	También, puedes llamarnos y hacer el proceso por teléfono (787-364-3170). 
			 	</p>
			</div>
			<div>
		 		<strong>¿Qué tipo de mercancia transportamos?</strong><p>TODO tipo de mercancia desde sobres, canastas, cajas, piezas sueltas, paletas y vagones.</p>
			</div>
			<div>
			 	<strong>¿Como ordeno el recogido de mi mercancía? </strong>
			 	<p>
			 	Fácil,  puedes hacer el pedido por nuestra pagina <a href="http://www.pickmystuff.net" target="_blank">www.pickmystuff.net</a>, llamando al 787-364-3170, enviando un mensaje de texto al 787-364-3170 ( o en WhatsApp) o envías un email a <a href="mailto:pickmystuff@yahoo.com">pickmystuff@yahoo.com</a>.
				Escribes el tipo de mercancía,  tipo de vehículo que necesitas, dirección de recogido de mercancía, dirección de entrega de mercancía, tu nombre, email y numero de teléfono.		 	
			 	</p>	
			</div>	 	
			<div>
			 	<strong>¿Quiénes son los transportistas? </strong>
			 	<p>
			 	Son transportistas independientes y compañias de transportación debidamente evaluados y con toda la permisologia y seguros necesarios 
			 	(Permiso de la comision de serivicios publicos, Poliza de Auto, Poliza de Mercancia, Poliza de Responsabilidad Publica valorada hasta 1 millon de dolares).
			 	Te conectamos con el transportista más cercano a tu mercancia. 
			 	</p>
			</div>
			<div>
		 		<strong>En caso de que un accidente donde se dañe o se rompa la mercancía ¿quien garantiza y asegura mi mercancía?</strong>
		 		<p>Pick My Stuff se hará responsable por la mercancía que se transporta. Garantizamos una entrega segura y a tiempo.</br>
		 		Tanto Pick My Stuff, LLC. como cada transportista cuenta con Permiso de la Comisión de Servicios Públicos, Póliza de Auto, Póliza de Mercancía, Póliza de Responsabilidad Publica valorada hasta $100,000.00 hasta $1,000,000.00.</br>
		 		Contamos con un sistema de inspección de mercancía para así poder asegurar que la mercancía este en buenas condiciones. </br>
		 		Cuidamos y protegemos la mercancía de nuestros clientes, además nuestros transportistas tienen basta experiencia en mover mercancía.</p>
			</div>
			<div>
		 		<strong>¿Cuál es el proceso para reclamar una garantia y/o seguro?</strong>
		 		<p>Tomaremos fotos al recoger y entregar la mercancía. La persona que recibe la mercancía debe inspeccionar y en caso de cualquier accidente con la mercancía se debe comunicar con nosotros para hacer su reclamación. 
		 		 </p>
			</div>
			<div>
		 		<strong>¿Cuál es el metodo de pago? </strong>
		 		<p>Aceptamos transferencias electronicas, tarjetas de credito y cheques personales.</br>
		 		Móvil Cash, PayPal, Apple Pay, etc.</p>
			</div>
		 	<strong>Me interesa ser transportista, ¿cual es el proceso? </strong><p>Comunicate con nostros para empezar el proceso de entrevista.</p>
		 <div class="resolvemos"><h2>Te Resolvemos una Emergencia</h2></div>
		 <div class="transportamos"><h3>¡Transportamos lo que sea, cuando sea, en donde sea!</h3></div>
		</div>
	</div>
</div>
{% endblock %}