{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block contentClass %}faq{% endblock %}

{% block content %}
<div class="container faq">
	<div class="row firstContent">
		<div class="col-xs-6">
			<img class="img-responsive pull-left" src="{{ asset('bundles/odiseopickmystuff/images/logo_services.png') }}">
		</div>
		<div class="col-xs-6">
			<p class="rightText">PREGUNTAS FRECUENTES</p>
		</div>
	</div>
	<div class="faqContent">
		<div class="questions">
			<div>
				<strong>¿QUE HACEMOS?</strong>
				<p>Ofrecemos servicios de recogido y entrega de su mercancia 
				tanto para individuos como empresas de todo tipo de mercancia alrededor de toda la isla.</p>
			</div>
			<div>
			 	<strong>¿CÓMO FUNCIONA?</strong>
			 	<p>
			 	Una vez entras tu pedido a través del website <a href="http://www.pickmystuff.net" target="_blank">www.pickmystuff.net</a>, recibirás una  llamada nuestra y te conectaremos con el transportista mas cercano  para recoger tu mercancía.
			 	También, puedes llamarnos y hacer el proceso por teléfono (787651-6044). 
			 	</p>
			</div>
			<div>
		 		<strong>¿QUÉ TIPO DE MERCANCIA TRANSPORTAMOS?</strong><p>TODO tipo de mercancía desde sobres, canastas, cajas, piezas sueltas, paletas y vagones.</p>
			</div>
			<div>
			 	<strong>¿COMO ORDENO EL RECOGIDO DE MI MERCANCÍA?</strong>
			 	<p>
			 	Fácil,  puedes hacer el pedido por nuestra página <a href="http://www.pickmystuff.net" target="_blank">www.pickmystuff.net</a>, llamando al 787651-6044, enviando un mensaje de texto al 787651-6044 ( o en WhatsApp) o envías un email a <a href="mailto:pickmystuffpr@gmail.com">pickmystuffpr@gmail.com</a>.
				Escribes el tipo de mercancía,  tipo de vehículo que necesitas, dirección de recogido de mercancía, dirección de entrega de mercancía, tu nombre, email y número de teléfono.		 	
			 	</p>	
			</div>	 	
			<div>
			 	<strong>¿QUIÉNES SON LOS TRANSPORTISTAS?</strong>
			 	<p>
				Nuestros transportes poseen toda la permisología y seguros necesarios 
				(Permiso de la Comisión de Servicio Público, Póliza de Auto, Póliza de Mercancía, Póliza de 
				Responsabilidad Pública valorada hasta 1 millón de dólares). Te conectamos con el transportista más cercano a tu mercancía.
			 	</p>
			</div>
			<div>
		 		<strong>EN CASO DE QUE SE DAÑE O SE ROMPA LA MERCANCÍA ¿QUIEN GARANTIZA Y ASEGURA MI MERCANCÍA?</strong>
		 		<p>Pick My Stuff se hará responsable por la mercancía que se transporte. Garantizamos una entrega segura y a tiempo.
Tanto Pick My Stuff, LLC. como cada transportista cuenta con Permiso de la Comisión de Servicio Público, Póliza de Auto, Póliza de Mercancía, Póliza de Responsabilidad Pública valorada hasta $100,000.00 hasta $1,000,000.00.
Contamos con un sistema de inspección de mercancía para así poder asegurar que esta esté en buenas condiciones. 
Cuidamos y protegemos la mercancía de nuestros clientes, además nuestros transportistas tienen vasta experiencia en mover mercancía.
</p>
			</div>
			<div>
		 		<strong>¿CUÁL ES EL PROCESO PARA RECLAMAR UNA GARANTIA Y/O SEGURO?</strong>
		 		<p>Tomaremos fotos al recoger y entregar la mercancía. La persona que recibe debe inspeccionar la mercancía y 
		 		en caso de cualquier accidente se debe comunicar con nosotros para hacer la reclamación.
		 		 </p>
			</div>
			<div>
		 		<strong>¿CUÁL ES EL METODO DE PAGO?</strong>
		 		<p>Aceptamos transferencias electrónicas, tarjetas de crédito,
				Móvil Cash al teléfono 787-364-3170 y PayPal.
				</p>
			</div>
		 	<strong>¿DESEA SER TRANSPORTISTA?</strong><p>Comunícate con nosotros para empezar el proceso de entrevista.</p>
		 <div class="resolvemos"><h2>Te Resolvemos una Emergencia</h2></div>
		 <div class="transportamos"><h3>¡Transportamos lo que sea, cuando sea, en donde sea!</h3></div>
		</div>
	</div>
</div>
{% endblock %}