{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="empezar">
        <a class="btn btn-default" href="{{ path('odiseo_pick_my_stuff_frontend_order') }}">Empezar</a>
    </div>
</div>
{% endblock %}