{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block contentClass %}services{% endblock %}

{% block content %}
<div class="container services">
	<div class="row firstContent">
		<div class="col-xs-6">
			<img class="img-responsive pull-left" src="{{ asset('bundles/odiseopickmystuff/images/logo_services.png') }}">
		</div>
		<div class="col-xs-6">
			<p class="rightText">TRANSPORTAMOS LO QUE SEA,
			DONDE SEA Y CUANDO SEA.</p>
		</div>
	</div>
	<div class="boxContent">
		<h2 class="titleService">Servicios</h2>
		</br>
		<div class="servicesContent">
			<p><strong>
				Ofrecemos servicios de transportación de carga terrestre, tanto a individuos como empresas a cualquier parte de Puerto Rico, Viéques, Culebra, Isla Vírgenes Estadounidenses y Británicas.

				Movemos cualquier tipo de mercancía ya que contamos con una flota variada de vehículos desde autos, pickups, minivans hasta remolque para vagones de 40-53 pies.   		
			</strong>
			</p>
			</br>
			<div class="row steps">
				<div class="col-md-6 col-sm-6 firstStep">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<img class="img-responsive center-block" src="{{ asset('bundles/odiseopickmystuff/images/1_services.png') }}">
						</div>
						<div class="col-md-6 col-sm-6">
							<p class="ordena">Ordena</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 secondStep">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<img class="img-responsive center-block" src="{{ asset('bundles/odiseopickmystuff/images/2_services.png') }}">
						</div>
						<div class="col-md-6 col-sm-6">
							<p class="recibe">Recibe tu paquete</p>
						</div>
					</div>
				</div>
			</div>
			<ol class="olServices">
				<li>
					<strong>Servicio de entrega de mercancía: </strong>
					<ol style="list-style-type: lower-latin">
						<li>MISMO DÍA (Hay Prisa)</li>
						<li>PRÓXIMO DÍA (No hay Prisa)</li>
					</ol>
				</li>
				<br>
				<li><strong>Servicio Bumerán: </strong>Recogemos tu mercancía para ser llevada a su destino y te la devolvemos el mismo día. </li>
			</ol>
			<p class="mayorVentaja">Nuestra mayor ventaja es que puedes ordenar tu entrega en cualquier momento y la puedes recibir el mismo día.</p>
			<ul class="ventajas">
				<li>Precios razonables.</li>
				<li>Resolvemos una emergencia.</li>
				<li>Resolvemos cuando no hay personal disponible.</li>
				<li>Ahorramos dinero y tiempo.</li>
				<li>Somos facilitadores, tanto del cliente como del transportista.</li>
				<li>Nos encargamos de conseguirle el vehículo y transportista adecuado para mover su mercancía.</li>
				<li>Facturamos y pagamos al transportista.</li>
			</ul>
			<h2 class="queTransportamos text-center"><strong>¿Qué Transportamos?</strong></h2>
			<span>Transportamos :</span>
			<ul class="transportamos">
				<li>Sobres, como: documentos legales, contratos, facturas, cheques, nominas, etc.</li>
				<li>Canastas de regalos, comida, ropa, computadoras, losas, etc.</li>
				<li>Materiales de construcción</li>
				<li>Cajas sueltas de todos los tamaños</li>
				<li>Piezas sueltas</li>
				<li>Muebles y enseres</li>
				<li>Equipos industriales</li>
				<li>Paletas</li>
				<li>Bultos</li>
				<li>Vehículos completos</li>
				<li>Todo lo que sea legalmente transportable</li>
			</ul>
		</div>
	</div>
	<div class="nuestraFlota">
		<h2>Nuestra Flota de Vehículos:</h2>
	</div>
	<div class="secondBoxContent">
		<ul class="flota">
			<div class="row">
				<div class="col-xs-6">
					<li>Autos</li>
					<li>Pick-ups pequeñas, medianas y grandes</li>
						<ul class="caracteristicas">
							<li>Abiertas</li>
							<li>Cerrada</li>
							<li>Con Racks</li>
						</ul>
					<li>MiniVans</li>
						<ul class="caracteristicas">
							<li>Secas</li>
							<li>Refrigeradas</li>
						</ul>
					<li>Vanes</li>
						<ul class="caracteristicas">
							<li>Sencilla</li>
							<li>Caja Larga</li>
							<li>Caja Larga techo Alto</li>
							<li>Secas y refrigeradas</li>
						</ul>
					<li>Step Vans</li>
						<ul class="caracteristicas">
							<li>Desde 10’ a 16’</li>
							<li>Secas y refrigerados</li>
						</ul>
				</div>
				<div class="col-xs-6">
					<li>Camiones Cerrados</li>
						<ul class="caracteristicas">
							<li>Desde 16’ , 18’, 20’, 22’, 24’, 26’, 28’ y 30’</li>
							<li>Secos y refrigerados</li>
						</ul>
					<li>Camiones Plataformas</li>
						<ul class="caracteristicas">
							<li>Desde 20’ hasta 24’</li>
						</ul>
					<li>Remolques</li>
						<ul class="caracteristicas">
							<li>Un eje</li>
							<li>Doble eje</li>
						</ul>
					<li>Grúas</li>
						<ul class="caracteristicas">
							<li>Plataformas</li>
							<li>Para autos y camiones</li>
						</ul>
					<li>Vagones</li>
						<ul class="caracteristicas">
							<li>Desde 20’, 40’, 45’ y 53’</li>
							<li>Secos y refrigerados</li>
						</ul>
					<li>Tanques de Agua</li>
						<ul class="caracteristicas">
							<li>5,000 hasta 15,000 galones</li>
						</ul>
				</div>
			</div>
		</ul>
		<img class="img-responsive center-block" src="{{ asset('bundles/odiseopickmystuff/images/automoviles_services.png') }}">
	</div>
	<h3 class="llamanos"><strong>Tenemos el vehículo que necesitas para lograr tu entrega, solo llámanos.</strong></h3>
</div>
{% endblock %}