{% extends 'OdiseoPickMyStuffBundle:Frontend:layout.html.twig' %}

{% block contentClass %}services{% endblock %}

{% block content %}
<div class="container services">
	<h2>SERVICIOS:</h2>
	</br>
	<div class="servicesContent">
		<p>Ofrecemos nuestros servicios tanto a individuos como empresas. Movemos cualquier tipo
		 de mercancia ya que contamos con una flota variada de vehiculos desde autos, pickups,
		 minivans hasta remolque par avagones de 40-53 pies.
		 </br></br>
		 <ol>
		 	<li><strong>Servicio Boomerang:</strong>Recogemos tu mercancia par aser llevada a sus destino y te la devolvemos el mismo día. </li>
		 	<li><strong>“Pa’ Ayer”: </strong>Servicio de recogido y entrega el mismo día. </li>
		 	<li><strong>“Next Day”: </strong>Recogemos su mercancia para ser entregada el próximo día.</li>
		 </ol>
		 </br></br>
		 <div class="contactamos text-center"><span>“TE CONECTAMOS CON EL TRASPORTISTA MAS CERCANO A TI”</span></div>
		</p>
	</div>
</div>
{% endblock %}