<div class="form-group">
	{{ form_row(form.status, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.sourceAddress, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.destinationAddress, { 'attr': {'class': 'form-control'} }) }}
</div>
{{ form_rest(form) }}
