html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Myriad Pro', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-y:hidden;
}
.navbar-header .navbar-brand{
	padding: 6px 9px;
}
.navbar-header{
	height:100%;
	z-index: 99999999999;
	position: relative;
}
.navbar-brand{
	height:100%;
}
.navbar-brand img{
	height:100%;
}
.wrapper {
	height: 100%;
	position: relative;
	/**/
	width: 100%;
	padding: 0;
	/**/
}
header{
	background-color: #1edddf;
	height: 70px;
}
header .navbar-default {
	background: none;
	border: none;
}
header .logo{	
	height: 100%;
	z-index: 99999999999;
	position: relative;
}
header .navbar-nav {
	float: right;
}

header .navbar-nav>li {
	display: table;
}

header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:hover,
	header .navbar-default .navbar-nav>.active>a:focus {
	background: none;
}
header .navbar-nav .logo img{
	padding: 10px 0 0 0;
}
header .navbar-right{
	margin:0;
}
header ul.navbar-right{
	font-size:30px;
	/*padding-top:10px;*/
}
header ul.navbar-right .about,header ul.navbar-right .services,header ul.navbar-right .contactus,header ul.navbar-right .faq{
	padding-top:13px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 15%;
	background: url(../images/footer.png) #6EC9C6 center center no-repeat;
	background-size: contain;
}

#content{
	height: 100%;
	background-size:cover !important;
}
#content.home{
	background: url(../images/home.jpg) no-repeat;
}
#content.order{
	background: url(../images/orden.jpg) no-repeat;
}
#content.about{
	background: url(../images/aboutus.jpg) no-repeat;
}
#content.contact{
	background: url(../images/background.png) no-repeat;
}
#content.services{
	background: url(../images/services.jpg) no-repeat;
}
#content.faq{
	background: url(../images/FAQ.jpg) no-repeat;
}

.content-image {
	height: 100%;
	width: 100%;
}

.container{
	height:100%;
}
#content input{
	height:30px;
}
#content .contentForm{	
	background-color: rgba(192,192,192,0.4);
	height: 95%;
}
#content .home form{	
	width: 90%;
	margin: 0 auto;
	font-size: 23px;
	height: 100%;
}

#content .empezar{
	position: absolute;
	top: 65%;
	left: 48%;
}
#content .home form h2{
	text-align:center;
	font-size: 28px;
}
#content form .phoneMail{
	margin-top: 1%;
}
/*
#content .home form .contact{
	margin-top: 10px;
}
*/
#content .home form .contact input{
	display:inline;
	width:30%;
}
#content .home form .phone label,#content .home form .email label{
	margin: 0px;
}
#content .home .sended,.page-header .sended {
	text-align:center;
	color: rgb(31, 107, 7);
	font-size:18px;
}

#content .home .sended .glyphicon, #content .costumerForm .sended .glyphicon,.page-header .sended .glyphicon{
	padding-right: 10px;
}

#content form .types{
	margin-top:4%;
}

#content form .adds{
	margin-top:1%;
}

#content form .addInfo{
	padding-left:0px;
}

#content form .image{
	margin-top: 1%;
}

#content form .image input{
	display:inline;
	width:30%;
}

#content form .finalizar{
	margin-top: 1%;
}
#content .btn{	
	background-color: #1edddf;
	border-color: #1edddf;
	font-size: 18px;
}
/*faq*/
#content .container.faq strong{
	font-size: 18px;
}
/* services/**/
#content .container.services {
	margin: 50px 0 0 50px;
	float: left;
	font-size: 19px;
}
#content .container.services .servicesContent{
	background-color: rgba(155, 151, 151, 0.4);
	padding: 20px;
}

#content .container.faq .faqContent{
	background-color: rgba(155, 151, 151, 0.4);
	padding: 20px;
}
/* modal */
.modal .logo{
	float:left;
}
.modal .modal-header{
	border:0px;
	background: #48c2c6 url(../images/logo.png) no-repeat 1% 50%;
	background-size: contain;
}
.modal .modal-header h3{
	font-size: 31px;
}
.modal .celestial{
	background-color: #48c2c6;	
	height: 172px;
}
.modal .black{
	background-color:black;
	height: 225px;
}
.modal .black .row{
	padding-top: 57px;
}
.modal .comments label{
	color:white;
	font-weight:normal;
}
.modal .modal-body h3{
	margin: 0 0 14px 0;
}
.modal .imgDimension{
	position:absolute;
	max-width: 20%;
	left: 40%;
	top: 37%;
}
.modal-footer{
	text-align:center;
	border:0px;
}
/**/
/* contact us*/
.container.contact{
	margin:0;
}
.contact .costumerForm{	
	width: 55%;
	background-color: rgba(192,192,192,0.4);
	padding-left: 25px;
}
.contact .costumerForm h3{	
	padding-left: 30px;
	padding-top: 15px;
}
.contact .costumerForm form{
	padding-bottom: 15px;
	padding-right: 25px;
}
.contact .costumerForm .email{
	margin-top:10px;
}
.contact .costumerForm .message{
	margin-top:20px;
}
.contact .costumerForm .submitContent{
	margin-top:20px;
}
.contact .costumerForm .email label{
	font-size:20px;
}
.contact .costumerForm .message label{
	font-size:20px;
}
.contact .costumerForm .error{
	border-color: red;	
}
.contact .costumerForm .sended{
	color: rgb(31, 107, 7);
	display:none;
}
/* about us*/

#content .container.aboutus{
	float: left;
	margin: 50px 0 0 50px;
	font-size: 19px;
}
#content .container.aboutus .aboutContent{
	background-color: rgba(155, 151, 151, 0.4);
	padding: 20px;
}
/* Backend */
.box .table .checkboxIcon{
	text-align:center;
}

/* Extra Small devices (XS) */
@media screen and (max-width: 767px) 
{
	body {
		overflow-y:auto;
	}
	
	.navbar .navbar-collapse {
		position: absolute;
		right: 0;
		background-color: #1edddf;
		z-index: 999999;
	}
	.navbar-nav {
		margin: 0 -15px;
	}
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
		background-color: #31689B;
	}
	.navbar-default .navbar-nav > li > a {
		color: black;
	}
	.navbar-toggle {
		margin-top: 15px;
	}
	#content .contentForm{	
		overflow-y: auto;
		overflow-x: hidden;
		height: 75%;
	}
	#content .contentForm .addOrder{
		float:left;
		padding:0;
	}
	#content .contentForm .addInfo{
		float:right;
	}
	.contact .costumerForm {
		width: 90%;
	}	
	
}