html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Myriad Pro', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.navbar-header .navbar-brand{
	padding: 6px 9px;

}
.wrapper {
	height: 100%;
	position: relative;
	/**/
	width: 100%;
	padding: 0;
	/**/
}
header{
	background-color: #1edddf;
	height: 10%;
}
header .navbar-default {
	background: none;
	border: none;
}

header .navbar-nav {
	float: right;
}

header .navbar-nav>li {
	display: table;
}

header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:hover,
	header .navbar-default .navbar-nav>.active>a:focus {
	background: none;
}
header .navbar-nav .logo img{
	padding: 10px 0 0 0;
}
header .navbar-right{
	margin:0;
}
header ul.navbar-right{
	font-size:30px;
	padding-top:10px;
}
header ul.navbar-right .about,header ul.navbar-right .services,header ul.navbar-right .contactus,header ul.navbar-right .faq{
	padding-top:13px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 15%;
}

footer .separator{
	height: 5%;
	background-color: #1edddf;
}

footer .footer{
	height: 95%;
	background-color: black;
}

#content{
	background: url(../images/background.png) no-repeat;
}
.content-image {
	height: 100%;
	width: 100%;
}

#content {
	overflow: visible;
	height: 75%;
}
.container{
	height:100%;
}
#content .contentForm{	
	background-color: rgba(192,192,192,0.4);
	/*overflow-y: scroll;
	overflow-x: hidden;*/
	height: 95%;
	overflow-y: auto;
	overflow-x: hidden;
}
#content .home form{	
	width: 90%;
	margin: 0 auto;
	font-size: 23px;
	height: 100%;
}

#content .home form h2{
	text-align:center;
	padding-top: 16px;
}
#content form .phoneMail{
	margin-top: 22px;
}
#content .home form .contact{
	margin-top: 10px;
}
#content .home form .contact input{
	display:inline;
	width:30%;
}
#content .home form .phone label,#content .home form .email label{
	margin: 0px;
}
#content .home .sended{
	text-align:center;
	display:none;
	color: rgb(56, 244, 56);
	font-size:18px;
}

#content form .streets{
	margin-top:10px;
}

#content form .types{
	margin-top:40px;
}

#content form .adds{
	margin-top:50px;
}

#content form .addInfo{
	padding-left:0px;
}

#content form .image{
	margin-top: 85px;
}

#content form .image input{
	display:inline;
	width:30%;
}

#content form .finalizar{
	margin-top: 30px;
}
#content form .btn{	
	background-color: #1edddf;
	border-color: #1edddf;
	font-size: 18px;
}
.modal-footer{
	text-align:center;
}
/* contact us*/
.container.contact{
	margin:0;
}
.contact .costumerForm{	
	width: 55%;
	background-color: rgba(192,192,192,0.4);
	padding-left: 25px;
}
.contact .costumerForm h3{	
	padding-left: 30px;
	padding-top: 15px;
}
.contact .costumerForm form{
	padding-bottom: 15px;
	padding-right: 25px;
}
.contact .costumerForm .email{
	margin-top:10px;
}
.contact .costumerForm .message{
	margin-top:20px;
}
.contact .costumerForm .submitContent{
	margin-top:20px;
}
.contact .costumerForm .email label{
	font-size:20px;
}
.contact .costumerForm .message label{
	font-size:20px;
}
.contact .costumerForm .error{
	border-color: red;	
}
.contact .costumerForm .sended{
	color:#1edddf;
	display:none;
}
/* about us*/

.content .about {
	background: url(../images/background_aboutus.jpg) no-repeat !important;
	background-size: cover;
	background-position: bottom center;
}
#content .container.aboutus{
	float: left;
	margin: 50px 0 0 50px;
	font-size: 19px;
}#content .container.aboutus .aboutContent{
	background-color: rgba(155, 151, 151, 0.4);
	padding: 20px;

}